<style>
  h1{
    font-size: 24px
  }

  lh{
    padding-left : 20px;
  }

  body {
    background: #FFFFFF;
    padding: 0 20px;
    margin: 0;
    font-family: 'Open Sans', Arial, sans-serif;
 }
</style>
